# Don't track content of these folders
matlab_toolboxes/
old/
ISC/flip/
ISC/for_cluster/
ISC/inv_op_names/
ISC/modtimes_speech_A/
ISC/raw_delta_correlations/
ISC/resting/
preproc/old_and_rsync_doc/
rsync/
source/doc/
stats/eff_sizes+conf_interv/
stats/flipped/

# specific files to ignore
preproc/plot_prepro_MEG.py

# ignore files with these endings
*.pyc
*.txt
*.npy
*.xlsx
